$bg-principal: rgba(7, 117, 102, 0.838);
$bg-header-foot-color: coral;
$font-princiapl: "Tenor Sans", sans-serif;
$contac-letter-color: white;
$bg-principal-phone: rgb(208, 255, 127);
$bg-principal-table: aquamarine;
$grid-color: rgb(236, 119, 9);





