main {

    .principal-equipos {
        text-align: center;


        .imagen-equipo {
            img {
                width: 35%;
                border: solid 2px rgb(167, 245, 41);
                margin-top: 25px;
                transition: transform 0.4s, opacity 0.4s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    opacity: 0.8;
                }
            }

        }
    }

    .caja-equipos {
        padding-top: 45px;
    }

    .miscelaneos {
        padding-top: 35px;

        ul li {
            padding: 10px;
        }

        .imagen-miscelaneos {
            padding: 20px 0px 35px 0px;
            text-align: center;
        }

    }

    .iframe {
        padding: 20px;
        text-align: center;
    }
}